@font-face {
    font-family: Omega;
    src: url(../Ressources_Projet_JW_SASS/AlfaSlabOne-Regular.ttf);
}

 %upper {
    text-transform: uppercase;
    font-size: 100%;
 }

 %intcadre {
    text-align: center;
    
 }